version: '3.8'

services:
  bot:
    build:
      context: ..
      dockerfile: docker/Dockerfile.dev
    volumes:
      - ../src:/app/src
      - ../.env:/app/.env
    environment:
      - DEBUG=true
      - ENVIRONMENT=development
      - LOG_LEVEL=DEBUG
      - BOT_TOKEN=${BOT_TOKEN}
      - DATABASE_URL=postgresql+asyncpg://${DB_USER:-postgres}:${DB_PASSWORD:-password}@postgres:5432/${DB_NAME:-pokoroche}
      - REDIS_URL=redis://redis:6379
      - ML_SERVICE_URL=${ML_SERVICE_URL:-http://ml_mock:8000}
